/* Global styling for hele siden */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: auto;
  background-color: rgb(179, 173, 173);
}

/* Container-styling for å sentrere innhold */
.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header-styling */
header {
    background-color: transparent; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Overskrift 1-styling */
h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #3b62d4; 
}

/* Egendefinerte overskriftsstiler */
.h2-1 {
  margin-bottom: 15px;
}

.h2-2 {
  margin-top: 30px;
}

.h2-3 {
  margin-bottom: 3%;
}

/* Avsnitt-styling */
.p-1 {
    font-size: 1.5rem;
    margin: 7;
    color: #0b0707;
}

/* Spillknapp-styling */
.play-button {
  padding: 10px 20px;
  font-size: 1.5rem;
  transition: background-color 0.3s;
  margin-top: 20px; /* Reduser margin-top-verdien for å flytte knappen ned */
}

/* Styling for skjema-knapper */
button {
  background-color: #4CAF50; /* Grønn bakgrunn */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for knapper i navigasjonsmenyen */
nav ul {
  display: flex;
  align-items: center; /* Sentrer knappene vertikalt */
  justify-content: space-between; /* Sentrer knappene horisontalt */
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 20px; /* Legger en jevn margin mellom knappene */
  text-align: center; /* Sørger for at teksten er sentrert horisontalt */
}

nav ul li a {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
  padding: 10px 20px; /* Legg til litt padding for å gjøre knappene mer klikkbare */
  border: 2px solid transparent; /* Legg til en transparent ramme */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Legg til overgangseffekter for fargeendring */
}

nav ul li a:hover {
  background-color: #ff4747; /* Legg til ønsket bakgrunnsfarge på hover */
  color: #ffffff; /* Endre teksten til hvit på hover */
  border-color: #FF6347; /* Endre rammens farge på hover */
}
/* her slutter css for navbar knapper */

/* Styling for innloggingsformularet */
.login-form {
  display: flex; /* Legg til denne linjen for å aktivere Flexbox */
  flex-direction: column;
  align-items: center; /* Sentrer horisontalt og vertikalt */
  justify-content: center;
  max-width: 500px;
  margin: 50px auto; /* Sentrer horisontalt */
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

/* Styling for innloggingscontaineren */
.login-container {
  display: flex; /* Legg til denne linjen for å aktivere Flexbox */
  flex-direction: column;
  align-items: center; /* Sentrer horisontalt og vertikalt */
  justify-content: center;
  max-width: 500px;
  margin: 50px auto; /* Sentrer horisontalt */
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
}
  /*Her slutter logg inn */

/* Her starter Faq-siden */

.faq-heading {
    /* Redusert margin-top-verdi */
    margin-bottom: 1%; /* Redusert margin-bottom-verdi */
    text-align: center;
    font-weight: 400;
    font-size: 24px; /* Redusert fontstørrelse */
    padding-bottom: 2px;
}

.faq-card {
    border: 1px solid #dce0e8;
    border-radius: 10px;
    padding: 15px; 
    margin-bottom: 15px; 
    list-style: none;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
    
}

.faq-open-icon {
    font-size: 18px; /* Redusert fontstørrelse */
    position: absolute;
    top: 14px; /* Redusert top-verdi */
    right: 16px; /* Redusert right-verdi */
    font-weight: 700;
    margin-bottom: 15px;
}

details[open] .faq-open-icon {
    top: 14px; /* Redusert top-verdi */
    right: 16px; /* Redusert right-verdi */
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    color: #ffffff;
    font-weight: 500;
}

details[open] .faq-card-spoiler {
    display: inline-block;
    padding-top: 6px; /* Redusert padding-verdi */
    color: #000000;
}

.faq-aftertext {
    text-align: center;
    color: #0b0b0b;
    margin-top: 30px;
}

/* Her slutter css for faq siden min */

/* Her starter css for flappy goat spill */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('Bilder/Flappy_bird_background_image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}
.message {
  position: absolute;
  z-index: 10;
  color: black;
  top: 30%;
  left: 50%;
  margin-top: 18%;
  font-size: 2em; /* Juster skriftstørrelsen etter behov */
  transform: translate(-50%, -50%);
  text-align: center;
}

.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
  margin-bottom: 30px;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
/* Her slutter css for flappy goat siden */


/* Her starter css for footer */

.footer {
  background-color: #636974;
  padding: 20px 0; /* Legg til padding etter behov */
  color: #fff;
  text-align: center;
  margin-top: 7%;
}

.footer1{
  background-color: #636974;
  padding: 20px 0; /* Legg til padding etter behov */
  color: #fff;
  text-align: center;
  margin-top: 43%;
}

.footer2{
  background-color: #636974;
  padding: 20px 0; /* Legg til padding etter behov */
  color: #fff;
  text-align: center;
  margin-top: 23%;
}

.footer3{
  background-color: #636974;
  padding: 20px 0; /* Legg til padding etter behov */
  color: #fff;
  text-align: center;
  margin-top: 23%;
}

.it-apprentice-guide a {
  color: #ffffff; /* Velg ønsket farge for lenken */
  text-decoration: none;
  font-weight: bold;
  display: block; /* Sett lenkene til å vises som blokker, slik at de plasseres under hverandre */
  margin-bottom: 10px;
}

.it-apprentice-guide a:hover {
  text-decoration: underline; /* Legg til understrekning ved hover */
}

.faq-link a {
  margin-bottom: 15px; /* Juster verdien etter ønsket mellomrom */
  display: block; /* Plasserer lenkene under hverandre */
  margin-top: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-info p {
  margin: 10px 0;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links li {
  display: inline-block;
  margin-right: 20px;
}

.quick-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.social-media a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: opacity 0.3s;
}

.social-media a:hover {
  opacity: 0.8;
}

.copyright {
  margin-top: 20px;
}


/* her slutter css for footer */





/* Styling for registreringscontainer */
.registration-container {
  display: flex; /* Legg til denne linjen for å aktivere Flexbox */
  flex-direction: column;
  align-items: center; /* Sentrer horisontalt og vertikalt */
  justify-content: center;
  max-width: 500px;
  margin: 50px auto; /* Sentrer horisontalt */
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
}

/* Styling for registreringsskjema */
.registration-form {
  display: flex; /* Legg til denne linjen for å aktivere Flexbox */
  flex-direction: column;
  align-items: center; /* Sentrer horisontalt og vertikalt */
  justify-content: center;
  max-width: 500px;
  margin: 0 auto; /* Sentrer horisontalt */
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
}


/* Styling for skjemaer */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-right: 3%;
}

/* Styling for skjemalabeler */
label {
  display: block;
  margin-bottom: 5px;
}

/* Styling for skjemainndata */
input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}




/*  ønsket styling for menyen */

.nav-menu {
  display: none;
  /* Legg til annen styling som du ønsker */
}

.menu-icon {
  cursor: pointer;
  /* Legg til annen styling som du ønsker */
}






/* Her starter css for leaderboard */

.leaderboard {
  max-width: 600px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.contact-info {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #ddd; /* Endre dette til ønsket tekstfarge */
}

.contact-info a {
  color: #fff; /* Endre dette til ønsket lenkefarge */
  text-decoration: none;
}

/* Ulike stiler for hover */
.contact-info a:hover {
  text-decoration: underline;
}

/* Her slutter css for leaderboard */
